*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    align-items: center;
    height: 100vh;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background: #e4e4e4;
}
